$singapore: #AD1FEA;
$rainbow-color: #4661E6;
$raven-night: rgb(55, 63, 104);
$color-white: #FFFFFF;
$cotton-ball: #F2F4FF;
$ghost-white: #F7F8FD;
$jewel-cave: #3A4374;
$ocean-night: #647196;
$creamy-peach: #F49F85;
$blue-mana: #62BCFA;
$blood-moon: #D73737;
