.select {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #F2F4FE;
  border: none;
  background-color: #373F68;
  border-radius: 10px;
  justify-content: center;
  margin-left: 38px;
}

.select__option {
  font-family: Jost, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #647196;
  background-color: #FFFFFF;
  box-shadow: rgba(55, 63, 104, 0.350492);
  border-radius: 10px;
  border: none;
}

@media only screen and (max-width: 556px) {
  .select {
    margin-left: 0;
  }
}