.hashtags {
  width: 255px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 24px 50px 24px 24px;
  margin-bottom: 24px;
}

.hashtags__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-bottom: -10px;
}

.hashtags__item {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
}

@media only screen and (max-width: 850px) {
  .hashtags {
    margin-right: 25px;
    margin-left: 25px;
    width: 223px;
    padding: 24px 18px 36px 24px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 556px) {
  .hashtags {
    display: none;
  }
}