.wrapper {
  display: flex;
}

.left-content {
  margin-right: 30px;
}

.right-content {
  width: 825px;
}

.feedback-container {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 850px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .right-content {
    width: 100%;
  }

  .left-content {
    display: flex;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 556px) {
  .left-content {
    margin-bottom: 0;
  }
}